.feed {
    flex: 5.5;
}

.feedWrapper {
    padding: 20px;
}

.feedEventsInformationContent,
.feedTlToLineInformationContent {
    width: 100%;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 16px;
    font-weight: 800;
    color: yellow;
    border-radius: 5px;
    background-color: green;
}

.feedTlToLineInformationContent {
    background-color: rgba(109, 63, 63, 0.192);
}

@media screen and (max-width: 768px) {
    .feedWrapper {
        padding-left: 5px;
        padding-right: 15px;
        transition: all 0.3s ease;
    }
}
@media screen and (max-width: 768px) {
    .feedWrapper {
        padding-right: 5px;
        transition: all 0.3s ease;
    }
}

@media screen and (max-width: 460px) {
    .feed{
        overflow: hidden;
    }
    .feedWrapper {
        padding-left: 0px;
        padding-right: 0px;
        transition: all 0.3s ease;
    }
}