.bmGm {
    display: flex;
    color: var(--cText);
}

.bmGmRight {
    flex: 9;
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.bmGmBtnContainer {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.bmGmSortContainer {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-top: 2px solid var(--main);
    border-bottom: 2px solid var(--main);
}

.bmGmSortLabel{
    display: flex;
    align-items: center;
    gap: 10px;
}