.postTlToLine {
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px var(--shadowBlack);
  box-shadow: 0px 0px 16px -8px var(--shadowBlack);
  margin: 30px 0;
  border: 3px solid var(--cBadgeNtf);
}

.postTlToLineWrapper {
  padding: 10px;
}

.postTlToLineTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postTlToLineTopLeft {
  display: flex;
  align-items: center;
}

.postTlToLineProfileImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.postTlToLinePersonnelnumber {
  font-size: 15px;
  font-weight: 500;
  margin: 0 10px;
}

.postTlToLineTopRight {
  display: flex;
}

.postTlToLineTitle {
  font-size: 18px;
  font-weight: 800;
  color: var(--cBadgeNtf);
  margin: 0 10px;
}

.postTlToLineDate {
  font-size: 12px;
}

.postTlToLineDelete {
  cursor: pointer;
}

.postTlToLineCenter {
  margin: 20px 0;
}

.postTlToLineImg {
  margin-top: 20px;
  width: 100%;
  max-height: 500px;
  object-fit: contain;
}

.postTlToLineBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postTlToLineBottomLeft {
  display: flex;
  align-items: center;
}
.likeIcon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  cursor: pointer;
}

.postTlToLineLikeCounter {
  font-size: 15px;
  margin-left: 5px;
  margin-right: 10px;
}
.postTlToLineCommentText {
  cursor: pointer;
  border-bottom: 1px dashed gray;
  font-size: 15px;
}

.feedTlToLineInformationBtnBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
  width: 90%;
}

.feedTlToLineInfoReqRes {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  margin: 5px 0;
  font-size: 14px;
  font-style: oblique;
  color: var(--cText);
  text-align: center;
}

.feedTlToLineInformationMark {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
}
.feedTlToLineInformationMarkBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}
