.chatOnlineUsers{
text-align: center;
font-weight: 800;
}

.chatOnlineFriend{
    display: flex;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
}

.chatOnlineImgContainer{
    margin-right: 10px;
    position: relative;
}
.chatOnlineImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid white;
}

.chatOnlineBadge{
    position: absolute;
    background-color: var(--cBadgeOnl);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid white;
    top: 0;
    right: 0;
}