.rightbarMonitoring {
    flex: 3;
    max-width: 300px;
}

.allUsersWrapperRightbarMonitoring {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px 0;
    margin-left: 25px;
    max-width: 280px;
    overflow: hidden;
}

.rightbarMonitoringConfirmation {
    color: green;
    background-color: lightgreen;
    font-size: 8px;
    font-weight: 800;
    border: 2px solid green;
    padding: 6px 1px;
    border-radius: 50%;
    transform: scale(0.6);
}

.rightbarMonitoringBox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 3px 10px;
    border-radius: 5px;
    border: none;
    color: var(--cText);
    margin-bottom: 10px;
}

.rightbarMonitoringButton {
    gap: 5px;
    padding:3px 10px;
    border-radius: 5px;
    border: none;
    border-bottom: 2px solid var(--cText);
    background-color: transparent;
    box-shadow: 1px 1px 5px 1px var(--cText);
    color: var(--cText);
    cursor: pointer;
}