.stempel {
    display: flex;
    color: var(--cText);
}

.stempelFormLabel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 10px;
}

.stempelFormBtn {
    display: flex;
    justify-content: center;
}

.stempelContainerItems{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}
.stempelContainerItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
