.rightbarFriend {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.rightbarProfileImgContainer {
  margin-right: 10px;
  position: relative;
}
.rightbarProfilImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.rightbarOnline {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--cBadgeOnl);
  position: absolute;
  top: -2px;
  right: 0px;
  border: 2px solid white;
}
.rightbarPersonnelnumber {
  font-weight: 500;
  font-size: 15px;
}
